.craps-table  {
  border: 3px solid black;
  width: 600px;
  height: 300px;
  margin: auto;
}

.chip-panel {
  width: 200px;
  height:50px;
  margin: auto;
}

.pass {
  background-color: green;
  width: 50px;
  height: 50px;
  padding: 10px;
}

.dont-pass {
  background-color: red;
  width: 50px;
  height: 50px;
  padding: 10px;
}

.chip {
  height: 12px;
  width: 12px;
  margin: 10px;
  padding:5px;

}

.five {
  background-color: orange;
}

.twentyfive {
  background-color: blue;
}

.fifty {
  background-color: green;
}

.selected {
  border: 2px solid black;
}

.highlight  {
  background-color: rgba(255,0,0,0.4);
}
